@import './base/variables';
.ordenDeCompra{
    @extend %bodys;
}
.carritoOrden {
    & div{
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        border: 1px solid;
        width: 50%;
        margin: auto;
        padding: 7px;
        background-color: white;
    }
}
.precioTotalOrden{
    display: flex;
    justify-content: flex-end;
    width: 75%;
}
.modalTarjeta{
    background-color: blue($color: #0675b6);
    border: 1px solid;
    border-radius: 12px;
    width: 20%;
    height: 200px;
    padding: 30px;
    &__chip{
        background-color: rgb(161, 160, 160);
        width: 55px;
        height: 40px;
        border-radius: 12px;
    }
    &__num{
        margin-top: 12px;
        font-size: 20px;
    }
    &__extras{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    &__info{
        display: flex;
        justify-content: center;
        margin-top: 80px;
        align-items: center;
    }
    &__inputs{
        padding-left: 22px;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        & input{
            margin-bottom: 12px;
        }
    }
}
input{
    width: 300px;
    height: 30px;
}