*{
    padding: 0;
    margin: 0;
    border: 0;
}
li a{
    text-decoration: none;
    color: black;
}
body {
    overflow-x: hidden;
}
.home{
    padding-left: 40px;
    padding-right: 40px;
    background-color: #7d7896;
}
.tienda{
    padding-left: 40px;
    padding-right: 40px;
    background-color: #7d7896;
}
.sobreNosotros{
    padding-left: 40px;
    padding-right: 40px;
    background-color: #7d7896;
}
.header{
    text-align: center;
    height: 50px;
}
.tienda__header{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.sobreNosotros__header{
    height: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.dropdown-menu button:hover{
    background-color: #9996a8;
}
.btn{
    height: 50px;
}
.sloganProducts{
    margin-top: 3%;
    margin-left: 25%;
    text-align: center;
    width: 50%;
}
.sections{
    display: flex;
    border-radius: 12px;
    width: 20%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    justify-content: space-around;
}
.sections button{
    border-radius: 25px;
    padding: 9px;
}
.sections button:hover{
    background-color: rgb(182, 180, 180);
}
.wireframe{
    width: 30%;
    height: 335px;
    margin: 30px auto;
    background-repeat: no-repeat;
    background-size: contain;
    animation: wireframe 25s infinite;
}
@keyframes wireframe{
    0%{
        background-image: url(./img/graciasPorComprar.png);
    }
    15%{
        background-image: url(./img/envioProductos.png);
    }
    35%{
        background-image: url(./img/proteccionTarjetas.png);
    }
    50%{
        background-image: url(./img/productosCalidad.png);
    }
    75%{
        background-image: url(./img/dudasCorreo.png);
    }
    100%{
        background-image: url(./img/graciasPorComprar.png);
    }
}
.searchInput{
    margin-top: 5%;
    text-align: center;
}
.searchInput button{
    border-radius: 15px;
    padding: 1px;
}
.section__sobreNosotros{
    margin-top: 5%;
    display: flex;
}
.section__SobreNosotros__info{
    border: 1px solid white;
    border-radius: 12px;
    text-align: center;
    width: 30%;
    height: 300px;
    margin-top: 5%;
    margin: auto;
}
.section__SobreNosotros__info a{
    font-size: 45px;
    margin-left: 20px;
}
.productsShop{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
    text-align: center;
}
.flex{
    margin: auto;
    padding: 20px;
}
.categories{
    margin-left: 15px;
}
.categoriaButton{
    margin-left: 45%;
}
.modalBody div{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    border-bottom: 1px solid;
}
.contadorCarrito{
    font-size: 20px;
}
